*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
    min-height: 100vh;
}
/* contenedor_navegacion */

.contenedor_navegacion{
    width: 100%;
    color: white;
    background-color: #18181a;
    height: 110px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.contenedor_navegacion > img{
    margin: 0 2%; 
    width: 8%;   
    min-width: 6%; 
}
.contenedor_navegacion > div{
    min-width: 16%; 
}
.contenedor_navegacion nav{
    min-width: 47%;  
    margin-left: 5%; 
}
.contenedor_navegacion  li{
    margin-left: 5%; 
    display: inline-block;
}
.contenedor_navegacion a{
    font-weight: 700;
    color: inherit;
    text-decoration:none;
}
/* .titulos_principales */
.titulos_principales h2, .titulos_principales h1{
    background-color: black;
    color: white;
}
.titulos_principales h2, .titulos_principales h3, .titulos_principales h1{
    font-weight: 700;
    font-size: 3em; 
    text-align: center;
    padding: 2% 0;  
}
.titulos_principales > h3{
    font-size: 2.5em;
    padding-bottom: 4%;
}
/* contenedor_navegacion2 */
.contenedor_navegacion2 nav{
    margin: 0 auto;
    max-width: 90%; 
    height: 380.5px;    
    display: flex;
    justify-content: space-evenly;
}
.contenedor_navegacion2 nav > div{
    min-width: 21%; 
    max-width: 23%; 
    box-shadow: gray 1px 5px 6px;
    border-bottom: rgb(119, 119, 119) solid 6px ;
    border-radius: 40px 40px 15px 15px;
}
.contenedor_navegacion2 img{
    width: 100%; 
    height: 66%; 
    border-radius: 40px 40px 0px 0px;
}
.contenedor_navegacion2 nav div > div{
    width: 100%;
    text-align: center;
}
.contenedor_navegacion2 div > h2{
    margin:6% 0;
}
.btn{
    background: rgb(17, 17, 17);
    color: white;
    text-decoration: none;
    letter-spacing: 0.25em;
    clip-path: polygon(6% 0, 100% 0, 94% 100%, 0 100%);
    padding: 5px 30px;
}
/*contenedor_principal*/
.contenido_principal{
    margin-top: 11%; 
    width: 100%;
    overflow: hidden;
}
.contenedor_principal1, .contenedor_principal2{ 
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    /* Recuerda agregar efectos en la barra, de lo contrario elimina el position */
    position: relative;
    vertical-align: top;
}
.contenedor_principal1 > div, .contenedor_principal2 > div{
    width: 40%;
    min-width: 29%;
}
.subtitulo{
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 4.3em;
    letter-spacing: 4px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 5%;
    
}
.contenedor_principal1 p{
    width: 90%;
    font-style: italic;

}/* media */
.media{
    border-radius: 40px;
    width: 100%;
    box-shadow: #18181a 0px 2px 5px;
}/*.contenedor_principal2 */
.contenedor_principal2 div {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    
}
.contenedor_principal2 div:last-child img{
    width: 38%; 
    margin-top: 4%; 
    height: auto;
}
/* contenedor_principal3 */
.contenedor_principal3{
    padding: 7.5% 0 6%; 

}
.final_presentacion_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.final_presentacion_flex >div{
    width: 25%;
    max-width: 53.5%;
}
.contenedor_principal3 > h2{
    text-align: center;

}
.contenedor_principal3 img{
    width: 100%;
    height: 350px;
    min-width: 74.5%;
    object-fit:cover;
}
.parrafo_contenedor_flex{
    width: 80%;
    margin: 1.5% auto 0;
    
}
.parrafo_contenedor_flex p{
    text-align: center;
}
/* contenido_final */
.contenido_final{
    height: 250px;
    width: 100%;
    background: #18181a;
    color: white;
    align-items: center;
    display: flex;
}.contenido_final > div img{
    width: 65%;
}
.contenido_final a{
    color: #818080;
    font-size: 2.5em;
    padding: 5% 5% 5% 0;

}
/*contenedor_fina1 */
.contenedor_final1{
    width: 30%;
    display: inherit;
    flex-direction: column;
}.contenedor_final nav{
}











/*selector_rol*/
.selector_rol ul{
    display: flex;
    margin: 2% auto;
    width: 90%;
    justify-content: space-evenly;   
}.selector_rol li{
    display: inline-block;
}.selector_rol a{
    color: inherit;
    font-size: 0.5em;
    text-decoration: none;
}
/* contenedor_campeones */
.contenedor_campeones{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}/*contenido_campeon */
.contenido_campeon{
    animation-name: animar_contenedor_campeon;
    display: block;
    width: 280px;

}
.contenedor_campeones_img img{
   width: 100%;
   height: auto;
}.contenedor_campeones_descripcion{
  height: 200px;
  display: none;
  overflow-y: scroll;
}
/* .contenedor_campeones_titulo */
.contenedor_campeones_titulo{
   height: 50px;
   display: flex;
   align-items: center;
   background-color: rgb(1, 184, 184);
   clip-path: polygon(100% 0, 100% 38%, 82% 100%, 0 100%, 0 0);
}
/* enlace campeon */
.titulo_campeon{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
    padding-left: 5%;   
}
.contenido_campeon:active .contenedor_campeones_descripcion{
    display: block;
    
}